  @font-face {
  font-family: "arcade";
  src: url("/ARCADECLASSIC.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;}
body{
  font-family: "arcade",sans-serif;

}
.body{
  padding-top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;  
  height: 60vh;
  color: #412C2C;    
}
.body-text{
  font-weight: 1000;
  line-height: 1.6;
  letter-spacing: 18px;
}
.buttons{
  border-radius: 57.5px;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 370px;
  font-size: 40px;
  background: #D9D9D9;
  color: black;
}
.about{
  align-items: center;
  background-color: #5AE5EA;
  width: 80%;
}


.nav {
  position: fixed;

  justify-content: space-between;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9) 0%,   /* dark at top */
    rgba(0, 0, 0, 0.4) 50%,  /* medium */
    rgba(0, 0, 0, 0.0) 100%  /* fully clear at bottom */
  );
  height: 120px;
  width: 100%;
}

.logo {

  align-items: center;
  opacity: 100%;
  height: 100px;
  width: auto;
  overflow: hidden;
}
.nav-buttons{
  
  font-size: xx-large;
}
.wrapper {

  padding-top: 250px;
  flex-direction: column;
  display: flex;
  justify-content:center;  /* horizontal */
  align-items: center;      /* vertical */

}
.wrapper1{

  /* padding-top: 650px; */
  flex-direction: column;
  display: flex;
  justify-content:center;  /* horizontal */
  align-items: center;      /* vertical */

}
.ele{
  justify-content: space-between;
}
.box {
  border-radius: 57.5px;
  gap: 40px;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: auto;
  background:#5AE5EA;
}
.mask{
  border-radius: 57.5px;
  justify-content: space-between ;
  overflow: hidden;
  background-position: contain;
  background-color: #412C2C;
  height: 300px;
  width: 450px;
}
.intro-text {
  display: flex;                /* REQUIRED */
  justify-content: center;      /* center horizontally */
  align-items: center;          /* center vertically */
  width: 40%;

}
.contain{
  flex-direction: column;
  gap: 100px;
}
.use{
    border-radius: 57.5px;
}

